---
layout: archive
author_profile: true
excerpt: "Discovery and fun"
header:
  overlay_image: home-mountain.jpeg
  overlay_filter: 0.1
  cta_label: "Git Repo"
  cta_url: "https://github.com/jiangxiaoyong"
---

{% include base_path %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}

<div class="grid__wrapper">
  {% for post in site.portfolio %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>

